#window {
    background: --wofi-color0;
    color: --wofi-color15;
    border: solid 4px --wofi-color1;
    font-size: 1.1em;
}

#outer-box {
    padding: 15px 40px;
}

#input {
    background: --wofi-color0;
    color: --wofi-color15;
    font-size: 1.2em;
    margin: 0 0 15px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid --wofi-color1;
}

#entry:selected {
    background: --wofi-color1;
}
